body{
    margin:0;
    font-family: Arial, sans-serif;
}

/* Grundlayout för sidan */
.container{
    background-image: url("../images/backgroundSS.JPG");
    background-position: center;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content:center;

    height:100vh;
}

/* Innehållet i mitten av sidan (titel + knapp) */
.content{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    background:none;

}

/* Huvudrubrik */
h1 {
    color:rgb(255, 255, 255);
    background:rgba(0,0,0,0.7);
    padding:8px 18px;
    display:inline-block;
    font-size:48px;
    border-radius:6px;
    margin-bottom:25px;
}

/* Bokningsknappen */
.book-btn{

    background:white;
    color:black;
    border:2px solid black;
    padding:12px 30px;
    font-size:16px;
    text-decoration:none;
}

/* Effekt när musen är över knappen */
.book-btn:hover{
    background-color:#1c3d6b;
    color:white;
}

/* Anpassning för mindre skärmar (mobil) */
@media (max-width: 768px){

    .container{
        flex-direction:column;   
        justify-content:center;
        text-align:center;
        padding:40px;
    }

    .image-area{
        justify-content:center;
        margin-top:30px;
    }

    .image-area img{
        width:200px;   /* mindre bild på mobil */
    }

    h1{
        font-size:32px;
    }
}

/* bokningssidan */

.booking-page{
    padding:40px;
    background:white;
    min-height:100vh;
}

/* titel */

.page-title{
    text-align:center;
    color:white;
    font-style:italic;
    width:100%;
}

/* bekräfta knapp */

.confirm-box{
    position:absolute;
    right:40px;
    margin-top: 55px;
}

.confirm-btn{
    background:rgb(255, 255, 255);
    color:black;
    border:2px solid black;
    padding:10px 20px;
    text-decoration:none;
    border-radius:10px;
    cursor:pointer;
    margin-top: 49px;
}

/* layout */

.booking-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:40px;
}

/* left side */

.left-side{
    width:350px;
}

/* date box */

.date-box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size: 23px;
    border:2px solid black;
    border-radius:12px 12px 0 0;
    padding:15px;
    background:#eaeaea;
    transform: translateX(90px);
}

/* arrows */

.day-btn{
    width:35px;
    height:35px;
    border-radius:8px;
    border:1px solid black;
    background:white;
    cursor:pointer;
}

.day-btn:hover{
background-color:#1c3d6b;
color:white;
}

/* time slots */
.time-box{
    border:2px solid black;
    border-top:none;
    border-radius:0 0 12px 12px;
    padding:20px;
    background:#eaeaea;
    transform: translateX(90px);
}

.time-option{
    display:block;
    font-size:24px;
    margin:20px 0;
    height: 90px;
}

/* apartment */

.apartment-section{
    margin-top:30px;
}

.error-message{
    color:red;
    font-size:14px;
    margin-top: -110px;
    margin-left: 400px;
    white-space:nowrap;
    transform: translateX(100px);
}

.apartment-input{
    width:100%;
    padding:15px;
    border-radius:25px;
    border:2px solid black;
    margin-left: 380px;
    margin-top: -1px;
    background-color: rgba(9, 175, 175, 0.144);
    transform: translateX(100px);
}

/* right side */

.washing-image{
    width:340px;
    margin-top: 300px;
    margin-right: 150px;
    transform: translateY(-150px);
}

/* mobilanpassning */

@media (max-width: 1446px){

.booking-content{
    flex-direction:column;
    align-items:center;
}

.left-side{
    width:100%;
}

.date-box{
    transform:none;
    font-size: 20px;
}

.time-box{
    transform:none;
    font-size: 10px;
    height: 375px;
}

.error-message{
    margin:10px 0;
    transform:none;
}

.apartment-input{
    width:100%;
    margin:0;
    transform:none;
}

.washing-image{
    display: none;
}

.confirm-box{
    position:static;
    text-align:center;
}

}

/* page: alla bokningar */

.all-bookings-page{
    padding:40px;
    background:white;
    min-height:100vh;
}

.all-title{
    text-align:center;
    font-size:36px;
    margin-bottom:40px;

    color:white;
    font-style:italic;
    width:100%;
}

.bookings-layout{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.bookings-box{
    width:420px;
    background:#eaeaea;
    border:2px solid black;
    border-radius:12px;
    overflow:hidden;
    transform: translateX(39px);
}

.bookings-date{
    padding:20px;
    font-size:22px;
    border-bottom:2px solid black;
    background:#eaeaea;
}

.booking-item{
    padding:20px;
    font-size:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.cancel-btn{
    padding:6px 15px;
    border-radius:20px;
    border:2px solid black;
    background:white;
    cursor:pointer;
}

.cancel-btn:hover{
    background:#1c3d6b;
    color:white;
}

.booking-status{
    color:green;
    white-space:nowrap;
    font-size: xx-large;

}

.booking-image img{
    width:340px;
    margin-top: 150px;
    margin-right: 150px;
}


.home-btn{
position:absolute;
top:30px;
right:40px;
padding:10px 20px;
border:2px solid black;
border-radius:10px;
background:white;
text-decoration:none;
color:black;
font-size:14px;
margin-top: 40px;}

.home-btn:hover{
background:#1c3d6b;
color:white;
}

/* mobilanpassning för sista sidan */

@media (max-width: 1459px){

.bookings-layout{
    flex-direction:column;
    align-items:center;
}

.bookings-box{
    width:100%;
    transform: translateX(-4px);

}

.booking-status{
    margin-top:20px;
    text-align:center;
    font-size: x-large;
}

.booking-image{
    display:none;
}

.home-btn{
    position:static;
    margin-bottom:20px;
}

}